doctype html

include var/global.pug
include var/mixins.pug

html
    include includes/head.pug    
    body 
        main
            section.container
                .row
                    article.col-lg-3.col-sm-6.col-xs-12
                        h2 Fashion
                        img(src="../assets/img/1.jpg")
                        p(class="parag") At vero eos et accusamus et iusto 
                        p Odio dignissimos ducimus qui blanditiis praesentium voluptatum.
                        a(href="b") Read More
                    article.col-lg-3.col-sm-6.col-xs-12
                        h2 Nature
                        img(src="../assets/img/2.jpg")
                        p(class="parag") Deleniti atque corrupti quos 
                        p Dolores et quas molestias excepturi sint occaecati cupiditate non provident.
                        a(href="b") Read More
                    article.col-lg-3.col-sm-6.col-xs-12
                        h2 Love Story
                        img(src="../assets/img/3.jpg")
                        p(class="parag") Similique sunt in culpa qui officia  
                        p Deserunt mollitia animi, id est laborum et dolorum fuga.
                        a(href="b") Read More
                    article.col-lg-3.col-sm-6.col-xs-12
                        h2 Fine art
                        img(src="../assets/img/4.jpg")
                        p(class="parag") Similique sunt in culpa qui officia  
                        p Deserunt mollitia animi, id est laborum et dolorum fuga.
                        a(href="b") Read More

                